    
    /*
    Base sizes waar de pagina op gebasseerd is
    Original page size 1024px 
    */
    
    #page {
        width: 93.75%; /* 960px / 1024px  */
        margin: 0 auto;
    }
    body {
        background-color: #DCDBD9;
        color: #2C2C2C;
        font: normal 100% Cambria, Georgia, serif;
    }
    h1 {
        font-size: 1.5em; /* 24px / 16px */
        font-style: italic;
        font-weight: normal;
    }
    
    h1 a {
        color: #747474;
        font: bold 0.45833333333333em Calibri, Optima, Arial, sans-serif; /* 11px / 24px */
        letter-spacing: 0.15em;
        text-transform: uppercase;
        text-decoration: none;
    }


    #container {
        width: 100%;
        overflow: hidden;
    }

    #leftcol {
        float: left;
        width: 15.625%; /* 150px / 960px */
    }

    #rightcol {
        float: left;
        width: 9.375%; /* 90px / 960px */
    }

    #content {
        float: left;
        width: 75%; /* 720px / 960px */
        background-color: #F1F5F7;
    }

    #footer {
        z-index: 0;
        position: absolute;
        left: 1px;
        bottom: 1px;
    }

    #content_body {
        top: 1.388889%; /* 10 px in 720px */
        color: black;
        background-color: #F1F5F7;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        padding: 1.388889%;
        -moz-box-shadow: 10px 10px 10px #aaa;
    }

    #leftcol_body {
        padding: 0px 10px 0px 0px;
    }

    #rightcol_body {
        padding: 0px 11.111111% 0px 11.111111%; /* 10px / 90px */
    }
    .figure {
        float: right;
        margin-bottom: 0.5em;
        margin-left: 2.53164557%; /* 12px / 474px */
        width: 48.7341772%; /* 231px / 474px */    
    }